:root {
  --white: #fdfffc;
  --black: #1c1c1c;
  --blue: #3454d1;
  --gray: #7d7c7a;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  font-size: 1rem;
  border-radius: 8px;
}

/* .App {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

input {
  border: transparent;
  padding: 0 10px;
  margin: 5px 0;
  height: 30px;
  min-width: 220px;
}

/* HEADER */

.header {
  position: sticky;
  background-color: var(--black);
  color: var(--white);
  height: 150px;
  width: 100vw;
  padding: 20px 40px;
  box-sizing: border-box;
  z-index: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1,
h4 {
  margin: 0;
}

.header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .title-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav {
  margin-right: 30px;
}

.nav a {
  text-decoration: none;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 15px;
  font-weight: bold;
}

.nav a.navActive {
  background-color: var(--blue);
  pointer-events: none;
}

.logging {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logging input[type="submit"] {
  background-color: var(--blue);
  color: var(--white);
  padding: 5px 0;
  cursor: pointer;
}

/* ------HOME PAGE------ */

.home {
  height: calc(100vh - 150px);
  display: grid;
  justify-content: center;
  align-items: center;
}

.home h2 {
  font-size: 72px;
  background: radial-gradient(var(--blue), var(--black));
  color: transparent;
  background-clip: text;
  margin: 0;
  padding: 0;
}

/* SECTION WRAP */

.section {
  position: fixed;
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
}

/* ASIDE */

.aside {
  background-color: var(--blue);
  padding: 25px 25px;
  width: 200px;
  z-index: 800;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aside button {
  color: var(--white);
  background-color: var(--black);
  font-size: 1.5rem;
  width: 150px;
  height: 80px;
  border: transparent;
  border-radius: 10px;
  margin: 10px 0;
}

/* content */

.content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* searcher */

.Searcher {
  border: thin solid var(--black);
  position: absolute;
  left: 25px;
  top: 20px;
}

/* TABLA */

.content table {
  margin: 1rem 5%;
  width: 96%;
}

table {
  margin-bottom: 25px;
}

thead {
  border-top-left-radius: 25px;
}

th {
  background-color: var(--black);
  color: var(--white);
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
  height: 50px;
}

/*  MODAL  */

#SharedButton {
  margin: 0;
  background-color: var(--blue);
  font-weight: bold;
  position: absolute;
  width: 150px;
  height: 30px;
  border: thin solid transparent;
  border-radius: 8px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-decoration: none;
}

.blackscreen {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0%;

  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;

  visibility: hidden;

  transition: all 0.3s ease;

  display: grid;
  justify-content: center;
  align-items: center;
}

.modalActive {
  opacity: 100%;
  left: 0;
  visibility: visible;
}

.modal {
  box-sizing: border-box;
  position: relative;
  z-index: 1001;
  background-color: white;
  min-height: 700px;
  min-width: 400px;
  height: 70vh;
  width: 70vw;

  padding: 25px 40px;

  display: flex;
  flex-direction: column;

  border-radius: 15px;
}

.modal input {
  border: thin solid var(--black);
  width: 100%;
  height: 40px;
  padding: 0 20px;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 15px;
}

textarea {
  height: 140px;
  resize: none;
  padding: 10px;
  width: 100%;
  padding: 10px 20px;
}

.modal input {
  padding: 10px;
}

.x-buttonModal {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  color: var(--white);
  background-color: var(--black);
  border: none;
  cursor: pointer;
}

.modal h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
}

.modal h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal #modalInfo {
  display: flex;
  justify-content: flex-start;
}

.doubleInputDiv {
  display: flex;
  justify-content: space-between;
}

.doubleInputDiv label {
  width: 48%;
}

/*  VER BOTONES DE MODAL! */
.modal .btnsm {
  display: flex;
  justify-content: space-between;
}

.btnsm input {
  margin-top: 20px;
  padding: 10px 30px;
  min-width: 0;
  width: 150px;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  border: none;
  cursor: pointer;
}

.conclum {
  position: absolute;
  top: 170px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  visibility: hidden;
}

.conclum div {
  margin: 25px 0;
}

.radio-conclusion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.radio-conclusion input {
  width: 20px;
  height: 20px;
}

.radio-conclusion label {
  display: inline-flex;
  font-size: 1.2rem;
  min-width: 100px;
}

#last-radio-conclusion {
  margin-bottom: 20px;
}

#accionModal {
  width: max-content;
}

#title-cierre {
  width: 100%;
  min-height: 200px;
  height: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* MENU CONTEXT */

.context-menu {
  min-height: 50px;
  min-width: 50px;
  display: block;
  visibility: hidden;
  background-color: var(--black);

  position: fixed;
  z-index: 900;
  padding: 0;
}

.active-menu {
  visibility: visible;
}

.context-menu ul {
  margin: 0;
  padding: 0;
}

.context-menu ul li {
  font-weight: bold;
  list-style: none;
  padding: 15px 20px;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

.context-menu ul li:hover {
  background-color: var(--blue);
}

/* Full Reporte */

.comentarioReporte {
  height: 150px;
  border: 1px solid black;
  padding: 10px;
}

#productoReporte {
  margin: 10px 0;
}
/* LOADER */

.Loader {
  z-index: 2000;
  background: #00000090;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PAGINA COMPARTIR */
#compartir-hoja {
  position: relative;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  border: thin solid var(--black);
  padding: 30px 30px 0px 30px;
}
#compartir-hoja h1 {
  text-align: center;
}

#compartir-date {
  margin: 20px 30px;
  position: absolute;
  top: 0;
  right: 0;
}

#compartir-hoja div h3 {
  text-align: center;
}

#compartir-hoja div table {
  width: 100%;
}

#compartir-hoja td,
#compartir-hoja tr,
#compartir-hoja th {
  height: 10px;
}

#compartir-hoja th {
  color: white;
  background-color: black;
}

#compartir-comentario-box {
  width: 100%;
  height: 150px;
  border: thin solid var(--black);
  margin-bottom: 25px;
  padding: 0 15px;
}

#compartir-interno {
  margin: 15px 0;
  height: 150px;
}

#compartir-interno div {
  height: 20px;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.compartir-check {
  border: thin solid var(--black);
  height: 20px;
  width: 20px;
}

.compartir-interno-p {
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
}

.compartir-line {
  border-bottom: thin solid var(--black);
  width: 120px;
}

#compartir-firma {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#compartir-firma > div {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

#compartir-firma .compartir-line {
  margin-top: 40px;
  width: 170px;
}

#compartir-firma .compartir-check {
  margin-bottom: 20px;
}

.compartir-firma-inline {
  display: flex;
}

.compartir-firma-inline p {
  margin: 0 0 0 25px;
}
